@media (max-width: 1280px) {
    .product-info__image img  {
        width: 500px;
    }
}

@media (max-width: 1024.98px) {
    .header__bottom {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        width: 80%;
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-100%);
        visibility: hidden;
        transition: visibility 0.3s ease, transform 0.3s ease;
    }

    :root {
        --container-offset: 24px;
        --gap: 16px;
    }

    .header__bottom--active {
        visibility: visible;
        transform: none;
    }

    .header__bottom-container {
        justify-content: flex-start;
    }

    .nav {
        padding: 20px 40px;
    }

    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero__content {
        flex-direction: column;
    }

    .hero__image {
        display: none;
    }

    .benefits__list {
        row-gap: var(--gap);
    }

    .benefits__item {
        grid-column: 6 span;
    }

    .products__item {
        grid-column: 6 span;
    }
    
    .product__top {
        width: 100%;
    }

    .product__image {
        width: 100%;
    }

    .products__list {
        row-gap: var(--gap);
    }

    .products__list .products__item--big {
        grid-column: 12 span;
    }

    .footer__column {
        grid-column: 6 span;
    }

    .footer__top {
        row-gap: var(--gap);
    }

    .footer__form {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .catalog__products {
        --elems: 2;
    }

    .product-info__content {
        flex-direction: column;
        gap: 40px;
    }

    .product-info__text  {
        padding-top: 0;
    }

    .cart__content {
        padding: 40px;
    }

    .cart__row.cart__row--heading .cart__col--quantity {
        padding-left: 30px;
    }

    .cart__col--quantity{
        padding-left: 0;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 767.98px) {

    .header__top {
        padding: 25px 0;
    }

    .header__list {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 55px;
        padding-top: 24px;
        gap: 44px;

    }

    .hero {
        padding: 0;
    }

    .hero__container {
        padding: 0;
    }

    .hero__text {
        padding: 44px 24px;
    }

    .hero_title {
        margin-bottom: 80px;
    }

    .hero__link {
        margin-top: 32px;
        order: 3;
    }

    .btn {
        width: 100%;
    }

    .benefits {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .title {
        max-width: 270px;
    }

    .title--small {
        font-size: 20px;
        line-height: 140%;
    }

    .title--centered {
        text-align: left;
    }

    .title--mb-large {
        margin-bottom: 36px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .benefits__item {
        grid-column: 4 span;
    }

    .benefits__subtitle {
        font-size: 14px;
        line-height: 150%;
    }

    .benefits__descr {
        font-size: 14px;
        line-height: 150%;
    }

    .products {
        padding-top: 48px;
    }
    
    .title--large {
        font-size: 20px;
    }
    
    .title--mb-small {
        margin-bottom: 20px;
    }

    .products {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .products__item {
        grid-column: 2 span;
    }
    
    .products__item-big {
        grid-column: 4 span;
    }

    .product__image {
        height: 201px;
    }
    
    .products__list--mobile-slider {
        display: flex;
        width: calc(100% + var(--container-offset));
        overflow-x: auto;

    }

    .products__item {
        max-width: 200px;
        flex-shrink: 0;
    }

    .products__item--big {
        max-width: 400px;
    }

    .newsletter {
        padding: 0;
        background-color: var(--white);
    }

    .newsletter__content {
        padding: 48px 9px;
        align-items: flex-start;
    }

    .title--large-xl {
        font-size: 20px;
        line-height: 140%;
    }

    .newsletter__title {
        max-width: none;
    }

    .newsletter__descr {
        margin-bottom: 60px;
        font-size: 14px;
        text-align: left;
        line-height: 150%;
    }

    .form__input {
        max-width: 224px;
    }

    .form__btn {
        width: auto;
        padding: 16px 22px;
    }

    .about {
        margin-bottom: 268px;
    }

    .about--reversed {
        margin-top: 240px;
    }

    .about__content {
        flex-direction: column;
    }

    .about__image {
        max-width: 100%;
        height: 358px;
    }

    .about__info {
        padding: 48px 24px;
        padding-bottom: 38px;
        max-width: 100%;
    }

    .about__btn {
        margin-top: 64px;
    }

    .footer__column {
        grid-column: 2 span;
    }

    .social {
        display: none;
    }

    .footer__column--big {
        grid-column: 4 span;
    }

    .footer {
        padding-top: 40px;

    }

    .footer__top {
        row-gap: 40px;
        padding-bottom: 16px;
    }

    .footer__form {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .footer__bottom {
        justify-content: center;
    }

    .notice {
        justify-content: flex-start;
    }

    .notice__text {
        max-width: 294px;
    }

    .about-hero__title {
        font-size: 32px;
        line-height: 140%;
    }

    .about-hero__content {
        padding: 32px 0;
    }

    .history {
        padding: 32px 0;
    }

    .history__content {
        flex-direction: column;
        gap: 24px;
    }

    .history__text {
        text-align: left;
        padding: 36px 32px;
        padding-bottom: 30px;
        width: 100%;
    }

    .history__title {
        font-size: 20px;
        line-height: 140%;
    }

    .history__descr {
        font-size: 14px;
        line-height: 150%;
    }

    .history__image {
        width: 100%;
    }

    .history__pic {
        height: 259px;
    }

    .history__btn {
        margin-top: 56px;
    }

    .about--reversed .about__content {
        flex-direction: column-reverse;
    }

    .about--reversed .about__info {
        padding: 32px 24px;
        padding-bottom: 62px;
    }

    .about__descr {
        font-size: 14px;
        line-height: 150%;
    }

    .about__btn {
        margin-top: 48px;
    }

    .benefits--about .benefits__item {
        padding: 24px;
        padding-top: 72px;
        padding-bottom: 36px;
        background-position: 24px 36px;
    }

    .inner-hero__content {
        justify-content: center;
        padding-bottom: 32px;
        min-height: 146px;
    }

    .catalog__column {
        grid-column: 4 span;
    }

    .catalog__wrapper {
        grid-column: 4 span;
    }

    .mobile-btn {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .mobile-btn--active svg {
        transform: rotate(-90deg);
    }

    .filters {
        display: none;
    }

    .filters--active {
        display: flex;
        margin-bottom: 24px;
    }
}